@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0118;
    /* color logo #734aff */
    --bgComponents: #734aff;
    /* --bgComponentsAnalogy: #7521aa; */
    --bgComponentsAnalogy: #18033a;
    --colorNeutral: #ffffffde;
    --colorPlaceholder: #ffffff99;
    --colorHighlight: #ffe311;
    --colorError: #db4723;
    --colorSuccess: #98E51B;
    --colorInfo: #015587;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--colorNeutral);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
  font-size: unset;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
}
