:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--colorNeutral);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #0a0118;
  --bgComponents: #734aff;
  --bgComponentsAnalogy: #18033a;
  --colorNeutral: #ffffffde;
  --colorPlaceholder: #ffffff99;
  --colorHighlight: #ffe311;
  --colorError: #db4723;
  --colorSuccess: #98e51b;
  --colorInfo: #015587;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

button,
input {
  outline: none;
  border: none;
  font-size: unset;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
}
