.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100vh;
}

.videoContainer{
  height: 100%;
  width: 100%;
  position: relative;
}

.messageLink {
  --marginInline: 15px;
  position: absolute;
  left: 0;
  bottom: 90px;
  background: var(--bg);
  outline: 1px solid var(--bgComponents);
  font-weight: bold;
  color: var(--colorNeutral);
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  display: grid;
  gap: 10px;
  width: min(350px, calc(100% - var(--marginInline) * 2));
  margin: 0 var(--marginInline);
}

.messageLink button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  background: var(--colorHighlight);
  color: var(--bg);
}
