.main {
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.videoOffer {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: clamp(200px, 50%, 300px);
  resize: both;
}

.videoAnswer {
  width: 100%;
  height: calc(100% - 20px - 40px);
}

.containerHandleCall {
  position: absolute;
  bottom: 40px;
  left: 50%;
  translate: -50% 0;
  display: flex;
  gap: 10px;
  margin: auto;
}

.containerHandleCall button {
  margin: 0 10px;
}

.informationSession {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  align-items: center;
}
.informationSession .closeInformation {
  position: absolute;
  top: 30px;
  right: 20px;
}
.informationSession form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.informationSession form textarea {
  resize: none;
  border: none;
  padding: 10px 5px;
}
.informationSession form button {
  padding: 5px 10px;
}

.informationSession p {
  white-space: pre-wrap;
  display: none;
}

